{% extends 'base1.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block hi %}
	[ category_list.html ]
{% endblock %}

{% block content %}
<h2>{% trans "Category list" %}</h2>

<ul>
  {% for cat in category_list %}
  <li>
  	<div class="row" >
           <div class="col s12" >
            <div class=" hoverable " style="background-color: #FFF8DC; height:165px;">
              <h4>{{ cat.category }}</h4>
              
              <p>click the the link below to start the tests or revision exercise that you have selected </p>
                  <p>
	  				<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
							 {{ cat.category }}
	 				 </a>
			</p>
      		</div>
   		 </div>
    </div>
	
  </li>
  {% endfor %}
</ul>

{% endblock %}